.contact {
  padding-bottom: 142px;
  &:before {
    content: "";
    position: absolute;
    bottom: 13px;
    left: 0;
    width: 387px;
    height: 1000px;
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
    background-image: url('../img/bg/dots.webp');
  }
  .title {
    margin-top: 110px;
    justify-content: center;
  }
  .description {
    display: flex;
    margin-bottom: 40px;
    @include media-lg {
      display: block;
    }
    a {
      color: #1F1F1F;
      &:hover {
        color: #FF4986;
      }
    }
  }
  &__info {
    margin-top: 70px;
    max-width: 363px;
    @include media-xl {
      margin-left: 35%;
    }

  }
  .icon {
    width: 24px;
    height: 24px;
    margin-right: 15px;
    @include media-lg {
      margin-right: 0;
    }
  }
  &__img {
    img {
      max-width: 100%;
      @include media-lg {
        max-width: initial;
      }
    }
  }
}