.packages {
  padding-bottom: 400px;
  @include media-lg {
    padding-bottom: 300px;
  }
  @include media-xl {
    padding-bottom: 400px;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 730px;
    left: 0;
    width: 387px;
    height: 1000px;
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
    background-image: url('../img/bg/dots.webp');
  }
  .title {
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    position: relative;
    &:before {
      @include media-lg {
        content: "";
        position: absolute;
        top: -457px;
        left: -51px;
        width: 431px;
        height: 541px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url('../img/bg/cap.webp');
      }
      @include media-xl {
        top: -367px;
        left: -73px;
        width: 601px;
        height: 611px;
      }
      @include media-xxl {
        top: -457px;
        left: -73px;
        width: 731px;
        height: 741px;

      }
    }
    &--steps {
      &:before {
        content: "";
        position: absolute;
        left: auto;
        top: auto;
        bottom: 96px;
        right: 0;
        width: 96%;
        height: 325px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-image: url('../img/bg/cat.webp');
        @include media-lg {
          bottom: 73px;
          right: -180px;
          width: 471px;
          height: 555px;
        }
        @include media-xl {
          bottom: -127px;
          right: -360px;
          width: 811px;
          height: 865px;
        }
      }
    }
  }
  &-item {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    border-radius: 40px;
    border: 2px solid #1F1F1F;
    background: #FFF;
    max-width: 527px;
    margin-left: auto;
    margin-right: auto;
    @include media-xl {
      padding: 30px 20px;
    }
    @include media-xxl {
      padding: 55px 57px 62px 52px;
    }
    &-wrap {
      margin-bottom: 30px;
      @include media-xl {
        margin-bottom: 0;
      }
    }
    &__name {
      padding-left: 10px;
      margin-bottom: 33px;
      color: #246EB9;
      font-size: 32px;
      font-weight: 700;
      line-height: 40px;
      text-transform: uppercase;
      @include media-lg {
        font-size: 36px;
      }
    }
    &__line {
      display: flex;
      flex-direction: column-reverse;
      flex-wrap: wrap;
      @include media-lg {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
      }
      .accent-color {
        margin-bottom: 10px;
        @include media-lg {
          margin-bottom: 0;
        }
      }
    }
    &__group {
      display: flex;
      flex-wrap: wrap;
      &:not(:last-child) {
        margin-bottom: 22px;
      }
    }
    &__options {
      margin-bottom: 42px;
      div.accent-color {
        margin-top: -4px;
        margin-bottom: 6px;
      }
    }
    &__option {
      display: flex;
      white-space: nowrap;
      color: #FFF;
      font-weight: 500;
      line-height: 1.2;
      border-radius: 50px;
      margin-bottom: 8px;
      margin-right: 8px;
      font-size: 17px;
      padding: 10px 15px;
      @include media-lg {
        font-size: 20px;
        line-height: 24px;
        padding: 14px 19px;
      }
      @include media-xl {
        font-size: 19px;
        line-height: 21px;
        padding: 10px 12px;
      }
      @include media-xxl {
        font-size: 20px;
        line-height: 24px;
        padding: 14px 19px;
      }
      &--yellow {
        background: rgba(238, 157, 0, 0.70);
      }
      &--green {
        background: rgba(72, 169, 27, 0.70);
      }
      &--red {
        background: rgba(255, 70, 33, 0.70);
      }
      &--blue {
        background: rgba(36, 110, 185, 0.70);
      }
      &--violet {
        background: rgba(146, 119, 154, 0.70);
      }
    }
    &__description {
      margin-top: auto;
      text-align: right;
      font-size: 23px;
      font-weight: 400;
      line-height: 1.4;
      @include media-xl {
        font-size: 28px;
        line-height: 40px;
      }
      .accent-color {
        padding-left: 10px;
      }
    }
    &__choices {
      margin-top: 5px;
      margin-bottom: 15px;
      color: #A6A6A6;
      font-size: 20px;
      font-weight: 500;
      line-height: 34px;
      span.active {
        color: #1F1F1F;
      }
    }
    &__price {
      margin-top: 6px;
      font-size: 36px;
      font-weight: 700;
      line-height: 40px;
      text-transform: uppercase;
    }
    &__details {
      color: #585858;
      text-align: right;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      span {
        color: #1F1F1F;
        font-weight: 500;
      }
    }
    &__btn {
      margin-top: 35px;
      .btn {
        height: 60px;
        padding: 13px 27px;
      }
    }
  }
  &__description {
    margin-top: 91px;
    margin-bottom: 274px;
    text-align: center;
    .description {
      max-width: 455px;
      margin: 0 auto;
    }
  }
  &__steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @include media-xxl {
      flex-wrap: nowrap;
      margin-top: 134px;
    }
  }
  &-step {
    position: relative;
    width: 100%;
    max-width: 172px;
    text-align: center;
    margin: 0 20px 160px;
    @include media-lg {
      margin-bottom: 50px;
    }
    @include media-xl {
      margin: 0 40px;
    }
    @include media-xxl {
      margin: 0 120px;
    }
    &:before {
      content: "";
      position: absolute;
      top: -45px;
      left: 0;
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      border-radius: 50%;
      border: 1px solid #246EB9;
      opacity: 0.2;
      transform: scale(1.4);
      @include media-xl {
        transform: scale(1.7);
      }
      @include media-xxl {
        top: -28px;
        transform: scale(2.8);
      }
    }
    &__name {
      margin-bottom: 33px;
      font-size: 64px;
      font-style: normal;
      font-weight: 400;
      line-height: 40px;
      white-space: nowrap;
    }
    &:nth-child(1) {
      .packages-step__name {
        color: #246EB9;
      }
    }
    &:nth-child(2) {
      .packages-step__name {
        color: #2EA91B;
      }
    }
    &:nth-child(3) {
      .packages-step__name {
        color: #FF4621;
      }
    }
    &:nth-child(4) {
      .packages-step__name {
        color: #92779A;
      }
    }
  }
  .divider {
    bottom: 80px;
    transform: translate(-50%, 0) rotate(-8.46deg);
  }
}