section.contact
  .devider
  .container 
    .row
      .col-12.col-lg-6
        .title
          span Наші
          span.accent-text локації
        .contact__info
          .description
            svg.icon
              use(xlink:href="#icon-place")
            div М.Київ вул. Новоконстантинівська 15
          .description
            svg.icon
              use(xlink:href="#icon-phone")
            a(href="tel:+380731824717") 073 182 47 17
      .col-12.col-lg-6
        img(src="img/map.webp", alt="map")