footer.footer 
  .container 
    .row 
      .col-12 
        .footer__body 
          .footer__item © 2023 Warriors
          .footer-logo
            .footer-logo__name Warriors
            .footer-logo__company Entertainment center
          .footer__item 
            a(href="#policy").footer__link.modal-open Privacy + Terms
            a(href="https://rezart.agency/" target="_blank").footer__site
              svg.icon
                use(xlink:href="#icon-logo")
a(href="#header").scroll-to.footer__up
  svg.icon
    use(xlink:href="#icon-up")