section.home 
  .container 
    .row 
      .col-12
        h1.main-title
          span Активне
          br
          | свято
          span.accent-text для
          | дітей
    .row
      .col-12.offset-md-6.col-md-6
        .home__description
          .home__text День народження під ключ із пейнтболом, лазертагом, гідроболом, ньорфом і квестами
          .home__location
            svg.icon
              use(xlink:href="#icon-place")
            | м. Київ
      .col-12.home__btn
        a.btn(href="#packages").scroll-to Ціни і бронювання
