section.reviews
  .devider
  .container 
    .row 
      .col-12
        .title
          span Відгуки
      .col-12.col-lg-6.col-xl-3
        .reviews__item
          img(src="img/reviews/review1.webp", alt="review")
        .reviews__item
          img(src="img/reviews/review2.webp", alt="review")
        .reviews__item
          img(src="img/reviews/review3.webp", alt="review")
        .reviews__item
          img(src="img/reviews/review4.webp", alt="review")
      .col-12.col-lg-6.col-xl-3
        .reviews__item
          img(src="img/reviews/review5.webp", alt="review")
        .reviews__item
          img(src="img/reviews/review6.webp", alt="review")
        .reviews__item
          img(src="img/reviews/review7.webp", alt="review")
        .reviews__item
          img(src="img/reviews/review8.webp", alt="review")
      .col-12.col-lg-6.col-xl-3
        .reviews__item
          img(src="img/reviews/review9.webp", alt="review")
        .reviews__item
          img(src="img/reviews/review10.webp", alt="review")
        .reviews__item
          img(src="img/reviews/review11.webp", alt="review")
      .col-12.col-lg-6.col-xl-3
        .reviews__item
          img(src="img/reviews/review12.webp", alt="review")
        .reviews__item
          img(src="img/reviews/review13.webp", alt="review")
    .row
      .col-12
        .reviews__btn
          a(href="").btn дивитися всі відгуки
      .col-12.offset-lg-4.col-lg-4
        .description На цьому місці може бути ваша дитина
  .devider
